# {{ .ID }} - {{ .Status }}

{{ if .Priority }}PRIORITY {{ .Priority }} - {{ end }}{{ .Title }} - {{ .HTMLURL }}

* Service: {{ .Service }}
* Urgency: {{ .Urgency }}
* Created: {{ .Created }}

{{ if not .Acknowledged -}}
Assigned to:{{ range $assignee := .Assigned }}
+ *{{ $assignee }}* *(not yet acknowledged)*
{{ end -}}
{{ else -}}
Acknowledged by:{{ range $ack := .Acknowledged }}
+ **{{ $ack }}**
{{ end -}}
{{ end -}}

## Notes

{{ if .Notes }}
{{ range $note := .Notes }}
> {{ $note.Content }}

- {{ $note.User }} @ {{ $note.Created }}
{{ end }}
{{ else }}
_none_
{{ end }}

## Alerts ({{ len .Alerts }})

{{ range $alert := .Alerts }}
_{{ $alert.ID }}_{{ if $alert.Name }}- _{{ $alert.Name }}_{{ end }}

* Cluster: {{ $alert.Cluster }}
* SOP: {{ $alert.Link }}

Details :

* Service: {{ $alert.Service }}
* Status: {{ $alert.Status }}
* Created: {{ $alert.Created }}
* Link: {{ $alert.HTMLURL }}
{{ range $key, $value := $alert.Details }}
* {{ $key }}: {{ $value }} 
{{ end }}

{{ end }}
